:root {
    --bg_box: rgba(0,0,0,0.47);
    --bg_box_shadow: rgba(0,0,0,0.2);
    --bg_contend: rgba(255,255,255,1);
    --bg_infobox: rgb(180,16,105);
    --bg_infobox_hover: rgb(180,16,105);
  
    --menu_color_buttons: rgb(180,16,105); 
  
    --txt_color: rgb(255,255,255);
    --txt_color_invert: rgb(0,0,0);
    --txt_color_link: rgba(250,250,250,1);
    --txt_color_hover: rgba(180,16,105,1);
  
    --bg_linkbox1: rgba(170,170,170,0.2);
    --bg_linkbox2: rgba(170,170,170,0.3);
    --bg_linkbox_hover: rgb(180,16,105); 
  
    --files-txt_color: rgb(255,255,255);
    --files-box_color: rgba(180,16,105,0.4);
    --files-box_hover: rgba(180,16,105,0.6);
    --files-box_border: rgba(180,16,105,0.8);
    --files-line_color: rgb(255,255,255);
  
    
}

.box_aktuelles {
    width: 100%;
    height: 400px;
    float: right;
    overflow: hidden;
}
.aktuelles_items{
    height: 100%;
    width: auto;
}

.aktuelles_item{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:left;
    /*background-image: url("https://ustgber.ecm.bundeswehr.org/portale/P5603398863/Libs/img/BG.png");*/
    background-position: center;
    background-size: cover;
    /*padding: 15px 30px;*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    
}

.cycle-pager{
    position: relative;
    bottom: 50px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    z-index: 300;
    cursor: pointer;
    color: white;
}

.cycle-overlay {
    position: relative;
    bottom: 130px;
    height: 80px;
    z-index: 200;
    background-color: rgba(51, 51, 51, 0.80);
    padding-left: 25px;
    font-size: 18px;
    color: var(--txt_color);
}

.aktuelles_text{
    position: relative;
    margin-top: 230px;
    padding-left: 20px;
    color: var(--txt_color);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 200;
}

.aktuelles_text_header{
    font-size: 30px;
}

.aktuelles_dots_box {
	text-align:center;
	position: relative;
	bottom: 91%;
    z-index: 100;
    font-size: 70px;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: -1px 0 rgb(180,16,105), 0 1px rgb(180,16,105), 1px 0 rgb(180,16,105), 0 -1px rgb(180,16,105);
    cursor: pointer;
}

.cycle-pager-active {
    color: rgb(180,16,105);
}

/* The dots/bullets/indicators */
.aktuelles_dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 2px;
  background-color: var(--item-box_color);
  border-radius: 50%;
  border: 1px Solid var(--item-box_border);
  display: inline-block;
  transition: background-color 0.6s ease;
}

cycle-pager-active

/* Next & previous buttons */
.aktuelles_prev, 
.aktuelles_next {
    cursor: pointer;
    position: relative;
    bottom: 60%;
    width: 100%;
    color: var(--bg_infobox);
    font-weight: bold;
    font-size: 50px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    /*border-radius: 0 3px 3px 0;*/
    user-select: none;
    padding: 5px;
    z-index: 100;
}

/* Position the "next button" to the right */
.aktuelles_next {
  left: 89%;
  /*border-radius: 3px 0 0 3px;*/
  margin-right: 10px;
}

.aktuelles_prev {
  left: 0;
  margin-left: 3px;
  position: relative;
    bottom: 60%;
    width: 100%;
    color: var(--bg_infobox);
    font-weight: bold;
    font-size: 50px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    /*border-radius: 0 3px 3px 0;*/
    user-select: none;
    padding: 5px;
    z-index: 100;
}

/* On hover, add a black background color with a little bit see-through */
.aktuelles_prev:hover, .aktuelles_next:hover {
    color: var(--txt_color_hover);
}
  
.active, .aktuelles_dot:hover {
    background-color: var(--item-box_hover);
}

.aktuelles_text_description{
    font-size: 1.5em;
}